* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  height: 100%;
  position: relative;
}
@media screen and (min-width: 640px) {
  body > div {
    max-width: 414px;
    max-height: 736px;
  }
}
.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
img {
  width: 100%;
}
.loading {
  z-index: 9;
}
.loading .text {
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 75%) scale(1.5);
}
/*coffee cup*/
.coffee_cup {
  width: 20px;
  height: 24px;
  border: 1px rgba(255, 255, 255, 1) solid;
  border-radius: 0px 0px 5px 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -150%) scale(1.5);
}
.coffee_cup:after,
.coffee_cup:before {
  position: absolute;
  content: "";
}
.coffee_cup:after {
  width: 5px;
  height: 12px;
  border: 1px #fff solid;
  border-left: none;
  border-radius: 0px 20px 20px 0px;
  left: 20px;
}
.coffee_cup:before {
  width: 1px;
  height: 6px;
  background-color: rgba(255, 255, 255, 1);
  top: -10px;
  left: 4px;
  box-shadow: 5px 0px 0px 0px rgba(255, 255, 255, 1),
    5px -5px 0px 0px rgba(255, 255, 255, 1),
    10px 0px 0px 0px rgba(255, 255, 255, 1);
  -webkit-animation: steam 1s linear infinite alternate;
  -moz-animation: steam 1s linear infinite alternate;
  animation: steam 1s linear infinite alternate;
}

@-webkit-keyframes steam {
  0% {
    height: 0px;
  }
  100% {
    height: 6px;
  }
}
.page {
  width: 100%;
  height: 100%;
  background: url(../images/bg.jpg);
  position: relative;
  top: 0;
}
.city,
.restaurant {
  background: url(../images/city/bg.jpg);
}
.home,
.solution,
.guide,
.city,
.restaurant,
.contact {
  display: none;
}
.menu {
  display: flex;
  list-style: none;
  width: 94%;
  position: absolute;
  bottom: 15px;
  left: 3%;
}
.menu li {
  width: 25%;
  margin-right: 8px;
  opacity: 0.3;
}
.menu li.active {
  opacity: 1;
}
.menu li:first-child {
  margin-right: 0;
}
.index_bg {
  position: absolute;
  animation: fadeInUpMin 1s both;
  top: 0;
  transition: all 1s;
}
.index_bg.step2 {
  top: -30%;
}
.title {
  width: 80%;
  position: absolute;
  top: 67%;
  left: 10%;
  animation: fadeInUp 1s 1s both;
  transition: all 1s;
}
.title.step2 {
  top: 30%;
}
.slogan {
  width: 60%;
  position: absolute;
  top: 80%;
  left: 20%;
  animation: fadeInUp 1s 1.5s both;
  transition: all 1s;
}
.slogan.step2 {
  top: 43%;
}
.nav {
  position: absolute;
  width: 70%;
  left: 15%;
  top: 48%;
  display: none;
  animation: fadeInUpMin 1s both;
}
.nav_group {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.nav_group div {
  width: 50%;
  height: 50%;
  float: left;
}
.preimg {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 10px;
}
.indexInner {
  display: none;
  position: absolute;
  background: #43aaea;
  border-radius: 10px;
  color: #fff;
  padding: 0 20px;
  overflow-y: auto;
  animation: changeSise 0.4s both;
  font-size: 16px;
}

@keyframes changeSise {
  0% {
    left: 30%;
    top: 30%;
    right: 30%;
    bottom: 30%;
  }
  100% {
    left: 5%;
    top: 40px;
    right: 5%;
    bottom: 90px;
  }
}

.indexInner.index1 {
  background: #a64cd8;
}
.indexInner.index2 {
  background: #4b36dd;
}
.indexInner.index3 {
  background: #1a5ee3;
}
.indexInner .icon {
  width: 15%;
  padding: 20px 0%;
}
h3 {
  font-size: 20px;
  margin-top: 7px;
}
h5 {
  font-size: 16px;
  margin-top: 5px;
}
.indexInner p {
  font-size: 14px;
  margin-bottom: 15px;
}
.solution_bg {
  position: absolute;
  top: -150px;
}
.solutions {
  position: absolute;
  top: 45%;
  width: 100%;
}
.solutions div {
  position: absolute;
  width: 140px;
}
.solutionsInner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  display: none;
  z-index: 9;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  align-items: center;
  justify-content: center;
}
.s1 {
  left: -10px;
  animation: zoomIn 1s 0.2s both;
}
.s2 {
  left: 50%;
  margin-left: -75px;
  animation: zoomIn 1s 0.3s both;
}
.s3 {
  right: -10px;
  animation: zoomIn 1s 0.4s both;
}
.s4 {
  left: 10%;
  top: 140px;
  animation: zoomIn 1s 0.5s both;
}
.s5 {
  right: 10%;
  top: 140px;
  animation: zoomIn 1s 0.6s both;
}

.guide {
}
.map_bg {
  position: absolute;
  top: 0;
  bottom: 90px;
}
.map_bg img {
  height: 100%;
}
.map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: auto;
  overflow-y: hidden;
  display: none;
  z-index: 9;
  background: #000;
}
.map_img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: #000;
}
.map > img {
  width: 100%;
}
.pinch-zoom-container {
  background: #000;
  height: 100% !important;
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
}
.index_close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
}
.guide_list {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10%;
  justify-content: space-between;
  padding-top: 20px;
}
.guide_list div {
  margin-top: 15px;
  width: 46%;
  animation: fadeInUp 1s both;
}
.guide_list div:nth-child(3),
.guide_list div:nth-child(4) {
  animation-delay: 0.4s;
}
.guide_list div:nth-child(5),
.guide_list div:nth-child(6) {
  animation-delay: 0.6s;
}
div.view_btn {
  position: absolute;
  width: 30%;
  bottom: -50px;
  left: 50%;
  margin-left: -15%;
  animation-delay: 1s;
}

.content {
  position: absolute;
  width: 90%;
  top: 30px;
  left: 5%;
  bottom: 90px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  animation: slideInLeft 0.5s both;
  font-size: 20px;
  overflow-y: auto;
}
.content .icon {
  width: 90%;
  padding-top: 10px;
  margin-left: 5%;
}
.inner {
  margin-top: 10px;
  padding: 10px 20px;
  overflow-y: auto;
  color: #2455b0;
}
.inner p {
  font-size: 14px;
  line-height: 20px;
}
.restauran_inner p {
  line-height: 20px;
  margin-bottom: 10px;
}
.card {
  background: #11acf0;
  border-radius: 10px;
  color: #fff;
  margin: 5px 20px;
  padding: 10px;
}
.card2 {
  background: #a54dda;
}
.card3 {
  background: #1d5de4;
}
.card4 {
  background: #4a35dd;
}
.card h3 {
  font-size: 16px;
  margin-top: 0;
}
.card h5 {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
}
.card p {
  font-size: 14px;
}
.card p a {
  color: #fff;
  text-decoration: none;
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@-webkit-keyframes fadeInUpMin {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}
